table, th, td{
	color:white;
	border: 1px solid grey;
	border-collapse:collapse;
}
th,td{
	width:100px;
}
td{
	text-align:right;
}
th{
	background-color:#c0504d;
	text-align:start;
	font-weight:400;
}
tr td:nth-child(1){
	text-align: start;
}
tr:nth-child(1){
	background-color:#da9694 ;
}
tr:nth-child(2){
	background-color:#f2dcdb ;
}
tr:nth-child(2) td{
	color:black ;
}
tr:nth-child(3){
	background-color:#d9d9d9 ;
}
tr:nth-child(3) td{
	color:black ;
}